<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BiblioTech</title>
		{% load static %}
		{% load group_check %}
		<link rel="stylesheet" href="{% static 'bulma.min.css' %}">
	</head>
	<body>
		<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
			<div class="navbar-menu">
				<div class="navbar-brand">
					<div class="navbar-item">
						<!-- EqLib -->
					</div>
				</div>
				<div class="navbar-start">
					<a class="navbar-item" href="{% url 'home' %}">Home</a>
					<a class="navbar-item" href="{% url 'itemgroup-list' %}">Catalogue</a>
				</div>
				<div class="navbar-end">
				{% if user.is_authenticated %}
					{% if user|has_group:"librarian" %}
						<a class="navbar-item" href="{% url 'librarian-control-panel' %}">Library Management</a>
					{% endif %}
					<a class="navbar-item" href="{% url 'checkout-list' %}">My Checkouts</a>
					<a class="navbar-item" href="{% url 'cart-view' %}">My Cart</a>
					<a class="navbar-item" >
						<form id="logout" name="logout" action="{% url 'logout' %}" method="post">
							{% csrf_token %}
							<input class="button" type="submit" value="Logout">
						</form>
					</a>
				{% else %}
				<a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
					<a class="navbar-item" href="{% url 'login' %}">Login</a>
				{% endif %}
				</div>
			</div>
		</nav>
		<div class="container pt-6" style="height: calc(100vh - 5.25rem);">
			<div style="height: calc(100% - 2rem)">
				{% block content %}
				{% endblock %}
			</div>
		<div class="content">
			<div class="level">
				<div class="level-left">
					<div>
						<strong>BiblioTech</strong> built by <a href="http://dytrich-nguyen">Dytrich Nguyen</a> &#169; 2020.<br/>
					</div>
				</div>
				<div class="level-right">
					<div>
						Email questions, comments, criticisms, to <a href="mailto:me@dytrich-nguyen.com">me@dytrich-nguyen.com</a>.
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>
