<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BiblioTech</title>
		{% load static %}
		{% load group_check %}
		<link rel="stylesheet" href="{% static 'bulma.min.css' %}">
	</head>
	<body>
		<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
			<div class="navbar-menu">
				<div class="navbar-brand">
					<div class="navbar-item">
						<!-- EqLib -->
					</div>
				</div>
				<div class="navbar-start">
					<a class="navbar-item" href="{% url 'home' %}">Home</a>
					<a class="navbar-item" href="{% url 'itemgroup-list' %}">Catalogue</a>
				</div>
				<div class="navbar-end">
				{% if user.is_authenticated %}
					{% if user|has_group:"librarian" %}
						<a class="navbar-item" href="{% url 'librarian-control-panel' %}">Library Management</a>
					{% endif %}
					<a class="navbar-item" href="{% url 'checkout-list' %}">My Checkouts</a>
					<a class="navbar-item" href="{% url 'cart-view' %}">My Cart</a>
					<a class="navbar-item" >
						<form id="logout" name="logout" action="{% url 'logout' %}" method="post">
							{% csrf_token %}
							<input class="button" type="submit" value="Logout">
						</form>
					</a>
				{% else %}
					<a class="navbar-item">Sign Up</a>
					<a class="navbar-item" href="{% url 'login' %}">Login</a>
				{% endif %}
				</div>
			</div>
		</nav>
		<div class="container mt-6">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>
