{% extends 'bibliotech/base.html' %}

{% block content %}
		<h1 class="title">Checkout History</h1>
		<table class="table is-fullwidth">
			<thead>
				<th>Checkout Date</th>
				<th>Due Date</th>
				<th>Item</th>
				<th>Checkout Status</th>
				<th>Return Date</th>
			</thead>
			<tbody>
			{% for checkout in object_list %}
			<tr>
				<td>{{ checkout.checkout_date|date:"m\/d\/y" }}</td>
				<td>{{ checkout.due_date|date:"m\/d\/y" }}</td>
				<td><a href="{% url 'itemgroup-detail' checkout.item.item_group_id %}">{{ checkout }}</a></td>
				<td>{{ checkout.approval_status }}</td>
				<td>{{ checkout.return_date }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
{% endblock %}
