{% extends 'bibliotech/base.html' %}	


{% block content %}
	<h1 class="title">Items for Checkout</h1>
	<ul>
		{% for itemgroup in object_list %}
		<li class="box">
			<div class="media">
				<div class="media-left">
					<figure class="image is-96x96">
						<img src="https://bulma.io/images/placeholders/128x128.png" alt="picture of a D7000 camera">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<strong>
							<a href="{% url 'itemgroup-detail' itemgroup.id %}">{{ itemgroup }}</a>
						</strong>
						<p>{{ itemgroup.description }}</p>
						<div class="is-size-7">
							({{ itemgroup.avail_inventory }} of {{ itemgroup.total_inventory }} available)
						</div>
					</div>
					<div class="level is-mobile">
						<div class="level-left">
							{% if itemgroup.avail_inventory > 0 %}
							<form 
								name="quick_add_{{itemgroup.id}}"
								action="{% url 'cart-add' itemgroup.id %}"
								method="post">
								{% csrf_token %}
								<input type="hidden" name="return" value="{% url 'itemgroup-list' %}" />
								<input class="button is-small" type="submit" value="Quick add">
							</form>
							{% else %}
							<div class="level-item">
								<div class="button is-small">Waitlist</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</li>
		{% empty %}
			<li>No items to display.</li>
		{% endfor %}
	</ul>
	{% endblock %}
