{% extends 'bibliotech/base.html' %}

{% block content %}	

	{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<section class="container">
		<h1 class="title">{{ object.make }} {{ object.model }}</h1>
		<div>
			<h3 class="title is-5 mb-2">Description</h2>
			<p>{{ object.description }}</p>
			<p class="is-size-7">{{ object.avail_inventory }} of {{ object.total_inventory }} available.</p>
		</div>

		{% if object.avail_inventory > 0 %}
			<form name="add_to_cart" action="{% url 'cart-add' object.id %}" method="post">
				{% csrf_token %}
				<input class="button is-primary" type="submit" value="Add to cart">
			</form>
		{% else %}
			<div class="level">
				<div class="level-right">
					<div class="level-item">
						<form name="add_to_waitlist">
							{% csrf_token %}
							<input class="button is-small" type="submit" value="Waitlist">
						</form>
					</div>

					<div class="is-size-7 has-text-danger level-item">
						This item is currently unavailable.<br/>
						You can waitlist this item and we will hold it for you when it is next available.
					</div>
				</div>
			</div>
		{% endif %}
	</section>

{% endblock %}
