{% extends 'bibliotech/base.html' %}

{% block content %}
<div class="tile is-ancestor">
	<div class="tile">

		<div class="tile is-parent is-7">
			<div class="card" style="width: 100%">
				<div class="card-header has-background-dark">
					<h1 class="card-header-title has-text-light">Pending Checkouts</h1>
				</div>
				<div class="card-content">
					{% if pending_checkouts %}
						<table class="table is-fullwidth">
							<thead>
								<th>Checkout Date</th>
								<th>Due Date</th>
								<th>User</th>
								<th>Item</th>
								<th></th>
							</thead>
							<tbody>
							{% for c in pending_checkouts %}
								<tr>
									<td>{{ c.checkout_date|date:"m\/d\/y" }}</td>
									<td>{{ c.due_date|date:"m\/d\/y" }}</td>
									<td>{{ c.user }}</td>
									<td>{{ c.item }}</td>
									<td>
										<div class="level">
											<div>
												<form action="{% url 'approve-checkout' c.id %}" method="post">
													{% csrf_token %}
													<input class="button is-small is-success" type="submit" value="Approve">
												</form>
											</div>
											<div>
												<a
													href="{% url 'deny-checkout' c.id %}"
													class="button is-small is-danger is-outlined">Deny</a>
											</div>
										</div>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% else %}
						No pending checkouts!
					{% endif %}
				</div>
			</div>
		</div>

		<div class="tile is-parent">
			<div class="tile is-child is-vertical">
				<div class="card" style="width: 100%">
					<div class="card-header has-background-dark">
						<h1 class="card-header-title has-text-light">Actions</h1>
					</div>
					<div class="card-content">
						<div class="block content">
							<ul>
								<li><a href={% url 'return-item' %}>Return an item</a></li>
								<li><a>Add a new item</a></li>
								<li><a>Add a new holding</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
