{% extends 'bibliotech/base.html' %}

{% block content %}
<div class="tile is-ancestor">
	<div class="tile is-parent">
		<div class="panel is-dark" style="width: 100%;">
			<div class="panel-heading">
				Please select an item to return
			</div>
			<div class="panel-body" style="max-height: 100%; overflow: auto;">
				{% if object_list|length > 0 %}
				{% for checkout in object_list %}
				<a class="panel-block {% if checkout.id == active.id %}has-background-link has-text-light{% endif %}" 
					href="{% url 'return-item' %}?active={{checkout.id}}">
					{{checkout.item}}
				</a>
				{% endfor %}
				{% else %}
				No active checkouts!
				{% endif %}
				</div>
		</div>
	</div>
	<div class="tile is-parent is-8">
		<form style="width: 100%" action="{% url 'return-item' %}" method="POST">
			<div class="field is-horizontal">
				<div class="field-label">
				</div>
				<div class="field-body">
					{% csrf_token %}
					<input type="hidden" name="checkout_id" value="{{ active.id }}">
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label">Item Info</label>
				</div>
				<div class="field-body">
					<table class="table is-fullwidth">
						<thead>
							<th>Make</th>
							<th>Model</th>
							<th>Sn</th>
						</thead>
						<tbody>
							<td>{{ active.item.item_group.make }}</td>
							<td>{{ active.item.item_group.model }}</td>
							<td>{{ active.item.serial_num }}</td>
						</tbody>
					</table>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label"></div>
				<div class="field-body">
					<label class="checkbox">
						<input type="checkbox" name="is_verified">
						I have verified the returning item matches the information above
					</label>
					<p class="help is-danger">
					{% if errors.is_verified %}
					{{ errors.is_verified }}
					{% endif %}
					<p>
				</div>
			</div>


			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label">Return condition</label>
				</div>
				<div class="field-body">
					<div class="select">
						<select name="return_condition">
							{% for o in return_condition_choices %}
							<option>{{ o }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label">Inspection notes</label>
				</div>
				<div class="field-body">
					<textarea class="textarea" name="inspection_notes"></textarea>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label"></div>
				<div class="field-body">
					<div class="field is-grouped">
						<div class="control">
							{% if object_list|length > 0 %}
								<input class="button is-success" type="submit" value="Submit" {%if not active %}disabled{% endif %}>
							{% else %}
								<input class="button is-success" type="submit" value="Submit" disabled>
							{% endif %}
						</div>
						<div class="control">
							<a class="button is-danger is-outlined" href="{% url 'librarian-control-panel' %}">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
