{% extends "bibliotech/base.html" %}

{% block content %}
<form class="form" action="{% url 'user-change-password' %}" method="POST">
	{% csrf_token %}
	{% if user.authenticated %}
		<input type="hidden" name="user_id" value="{{ user.id }}">
	{% endif %}
	<div class="field">
		<label for="current_pass">Current Password</label>
		<input class="input" type="password" name="password">
		{% if form.password.errors %}
			{% for e in form.password.errors %}
			<p class="help is-danger">{{e}}</p>
			{% endfor %}
		{% endif %}
	</div>

	<div class="field">
		<label for="new_pass">New Password</label>
		<input class="input" type="password" name="new_password">
		{% if form.new_password.errors %}
			{% for e in form.new_password.errors %}
			<p class="help is-danger">{{e}}</p>
			{% endfor %}
		{% endif %}
	</div>

	<div class="field">
		<label for="current_pass">Conrifm Password</label>
		<input class="input" type="password" name="new_confirmed">
		{% if form.new_confirmed.errors %}
			{% for e in form.new_confirmed.errors %}
			<p class="help is-danger">{{e}}</p>
			{% endfor %}
		{% endif %}
	</div>

	<div class="field is-grouped">
		<div class="field">
			<input class="button is-success" type="submit" value="Change pasword">
		</div>
		<div class="field">
			<a href="{% url 'user-profile' %}" class="button is-danger is-outlined">Cancel</a>
		</div>
	</div>
</form>
{% endblock %}
